In [1]:
import time
def strftime():
    a = time.strftime('%A , %B %d %Y', time.localtime())
    print(a)
    b = time.strftime('%I:%M %p %Z on %b/%d/%Y', time.localtime())
    print(b)
    c = time.strftime('I will meet you on %a %B %d at %I:%M %p', time.localtime())
    print(c)
strftime()

Saturday , December 07 2019
12:21 AM Pakistan Standard Time on Dec/07/2019
I will meet you on Sat December 07 at 12:21 AM

In [2]:
def forcast():
    a = 'It will be sunny day today'
    print("Number of time day occurred :",a.count('day'),'times')
    print("Index of word Sunny : ", a.find('sunny'))
    b = a.replace('sunny','cloudy')
    print(b)
forcast()

Number of time day occurred : 2 times
Index of word Sunny :  11
It will be cloudy day today

In [3]:
def even(x):
   for i in range (2,x+1):
    if i%2==0:
        print(i,end=(','))
    elif i%3==0:
        print(i,end=(','))
even(17)

2,3,4,6,8,9,10,12,14,15,16,

In [4]:
def mailaddress():
    name  = 'Rizwan Shaikh'
    designation = 'Student'
    Address = 'Rabia City'
    city = 'Karachi'
    zipcode = '75500'
    print("{0}\n{1}\n{2}\n{3}\n{4}".format(name,designation,Address,city,zipcode))

mailaddress()

Rizwan Shaikh
Student
Rabia City
Karachi
75500

In [5]:
def month(x):
    mon = ['','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
    print(mon[x])
month(1)
month(11)

Jan
Nov

In [6]:
def Cheer(x):
    print("How do you spell winner ?")
    print("I know! I know!")
    for i in x:
        print(i.capitalize(),end=(" "))
    print("! ")
    print("And that's how you spell winner!")
    print(x.title(),"!")
Cheer('go uitians!')

How do you spell winner ?
I know! I know!
G O   U I T I A N S ! !
And that's how you spell winner!
Go Uitians! !

In [7]:
import time
def POS():
    User = input("Enter User Name :")
    x = input("Enter the type of Burger : ")
    y = eval(input("Enter the Quantity of Burger : "))
    z = eval(input("Enter the rate of Burger : "))
    total = y * z
    gst = (total/100)*17
    time1= time.strftime('%b %d %Y', time.localtime())
    print(time1)
    print("User Name :          ",User)
    print("Type of Burger:      ",x)
    print("Quantity of Burger:  " ,y)
    print("Cost :               ",total)
    print("GST 13% :            ",gst)
    print("Total :            Rs",total+gst)
POS()

Enter User Name :Rizwan Shaikh
Enter the type of Burger : Zinger Burger
Enter the Quantity of Burger : 2
Enter the rate of Burger : 180
Dec 07 2019
User Name :           Rizwan Shaikh
Type of Burger:       Zinger Burger
Quantity of Burger:   2
Cost :                360
GST 13% :             61.2
Total :            Rs 421.2

In [8]:
def numbers(x,y):
    print("decimal    binary    octal   Hexadecimal")

    for i in range(x,y+1):
        binary = bin(i)
        octal = oct(i)
        Hex = hex(i)
        print("d:{:5d}   b:{:5b}   o:{:5o}   H:{:5X}".format(i,i,i,i))
numbers(1,10)

decimal    binary    octal   Hexadecimal
d:    1   b:    1   o:    1   H:    1
d:    2   b:   10   o:    2   H:    2
d:    3   b:   11   o:    3   H:    3
d:    4   b:  100   o:    4   H:    4
d:    5   b:  101   o:    5   H:    5
d:    6   b:  110   o:    6   H:    6
d:    7   b:  111   o:    7   H:    7
d:    8   b: 1000   o:   10   H:    8
d:    9   b: 1001   o:   11   H:    9
d:   10   b: 1010   o:   12   H:    A

In [9]:
def printv(x):
    fees = {'Name': '', 'RollNo': '434', 'Semester': '6',
            'SemesterFee': '12000', 'SportsFee': '2500', 'MiscFee': '0'}
    fees['Name'] = x
    Sum = int(fees.get('SemesterFee')) + int(fees.get('SportsFee')) + int(fees.get('MiscFee'))
    print(" \t\tBank Copy\t\t\t\t\t School Copy\t\t\t\t\t\tStudent Copy")
    print("Student Name : {0}\t\tStudent Name : {0}\t\tStudent Name : {0}".format(fees.get('Name')))
    print("Roll Number  : {0}\t\t\t\tRoll Number  : {0}\t\t\t\tRoll Number  : {0}".format(fees.get('RollNo')))
    print("Semester     : {0}\t\t\t\tSemester     : {0}\t\t\t\tSemester     : {0}".format(fees.get('Semester')))
    print("Semester Fee : {0}\t\t\tSemester Fee : {0}\t\t\tSemester Fee : {0}".format(fees.get('SemesterFee')))
    print("Sports Fee   : {0}\t\t\t\tSports Fee   : {0}\t\t\t\tSports Fee   : {0}".format(fees['SportsFee']))
    print("Misc Fee     : {0}\t\t\t\tMisc Fee     : {0}\t\t\t\tMisc Fee     : {0}".format(fees.get('MiscFee')))
    print("--------------- \t\t\t    ------------------- \t\t\t---------------------")
    print("Total Fee     : {0}\t\t\tTotal Fee     : {0}\t\t\tTotal Fee    : {0}".format(Sum))
    print("Due Date     : 12-12-19\t\t\tDue Date     : 12-12-19\t\t\tDue Date     : 12-12-19")
    print("Teller Stamp : ____________\t\tTeller Stamp : ____________\t\tTeller Stamp : ____________")
    print('\n')
printv('Rizwan Shaikh')
printv('Bilal Yousuf')
printv('Huzaifa Anwar')

 		Bank Copy					 School Copy						Student Copy
Student Name : Rizwan Shaikh		Student Name : Rizwan Shaikh		Student Name : Rizwan Shaikh
Roll Number  : 434				Roll Number  : 434				Roll Number  : 434
Semester     : 6				Semester     : 6				Semester     : 6
Semester Fee : 12000			Semester Fee : 12000			Semester Fee : 12000
Sports Fee   : 2500				Sports Fee   : 2500				Sports Fee   : 2500
Misc Fee     : 0				Misc Fee     : 0				Misc Fee     : 0
--------------- 			    ------------------- 			---------------------
Total Fee     : 14500			Total Fee     : 14500			Total Fee    : 14500
Due Date     : 12-12-19			Due Date     : 12-12-19			Due Date     : 12-12-19
Teller Stamp : ____________		Teller Stamp : ____________		Teller Stamp : ____________


 		Bank Copy					 School Copy						Student Copy
Student Name : Bilal Yousuf		Student Name : Bilal Yousuf		Student Name : Bilal Yousuf
Roll Number  : 434				Roll Number  : 434				Roll Number  : 434
Semester     : 6				Semester     : 6				Semester     : 6
Semester Fee : 12000			Semester Fee : 12000			Semester Fee : 12000
Sports Fee   : 2500				Sports Fee   : 2500				Sports Fee   : 2500
Misc Fee     : 0				Misc Fee     : 0				Misc Fee     : 0
--------------- 			    ------------------- 			---------------------
Total Fee     : 14500			Total Fee     : 14500			Total Fee    : 14500
Due Date     : 12-12-19			Due Date     : 12-12-19			Due Date     : 12-12-19
Teller Stamp : ____________		Teller Stamp : ____________		Teller Stamp : ____________


 		Bank Copy					 School Copy						Student Copy
Student Name : Huzaifa Anwar		Student Name : Huzaifa Anwar		Student Name : Huzaifa Anwar
Roll Number  : 434				Roll Number  : 434				Roll Number  : 434
Semester     : 6				Semester     : 6				Semester     : 6
Semester Fee : 12000			Semester Fee : 12000			Semester Fee : 12000
Sports Fee   : 2500				Sports Fee   : 2500				Sports Fee   : 2500
Misc Fee     : 0				Misc Fee     : 0				Misc Fee     : 0
--------------- 			    ------------------- 			---------------------
Total Fee     : 14500			Total Fee     : 14500			Total Fee    : 14500
Due Date     : 12-12-19			Due Date     : 12-12-19			Due Date     : 12-12-19
Teller Stamp : ____________		Teller Stamp : ____________		Teller Stamp : ____________

In [10]:
def comparing():
    PSOP , PSOHSD , PSOLSD , PSOKO = 114.24,127.41,85.33,97.18
    SAP , SAD , SLDO , SSKO = 114.24,127.41,85.33,97.18
    petrol = eval(input("Ammount Of Petrol :"))
    HDiesel = eval(input("Ammount of High Speed Diesel :"))
    LDiesel = eval(input("Ammount of Low Speed Diesel :"))
    Kerosine = eval(input("Ammount of Kerosine Oil :"))
    print("\t\tPSO\t\t\t\t\t\t\t\t\tShell\t\t\t\tAmmount in Litres\t\t\tPSO Cost\t\tShell Cost\t\tPrice Difference ")
    print("Premium Super     : {0}\t\t\tAltron Premium: {1}\t\t\t\t{2}\t\t\t\t\t{3}\t\t\t{4}\t\t\t\t{5}".format(PSOP,SAP,petrol,PSOP*petrol,SAP*petrol,(PSOP-SAP)*petrol))
    print("HighSpeed Diesel  : {0}\t\t\tAction+Diesel : {1}\t\t\t\t{2}\t\t\t\t\t{3}\t\t\t{4}\t\t\t\t{5}".format(PSOHSD, SAD,HDiesel, PSOHSD*HDiesel,SAD*HDiesel,(PSOHSD-SAD)*HDiesel))
    print("LightSpeed Diesel : {0}\t\t\tLDO           : {1}\t\t\t\t{2}\t\t\t\t\t{3}\t\t\t{4}\t\t\t\t{5}".format(PSOLSD, SLDO,LDiesel, PSOLSD*LDiesel,SLDO*LDiesel,(PSOLSD-SLDO)*LDiesel ))
    print("LightSpeed Diesel : {0}\t\t\tLDO           : {1}\t\t\t\t{2}\t\t\t\t\t{3}\t\t\t{4}\t\t\t\t{5}".format(PSOKO,SSKO,Kerosine,PSOKO*Kerosine,SSKO*Kerosine,(PSOKO-SSKO)*Kerosine))

comparing()

Ammount Of Petrol :500
Ammount of High Speed Diesel :200
Ammount of Low Speed Diesel :200
Ammount of Kerosine Oil :300
		PSO									Shell				Ammount in Litres			PSO Cost		Shell Cost		Price Difference
Premium Super     : 114.24			Altron Premium: 114.24				500					57120.0			57120.0				0.0
HighSpeed Diesel  : 127.41			Action+Diesel : 127.41				200					25482.0			25482.0				0.0
LightSpeed Diesel : 85.33			LDO           : 85.33				200					17066.0			17066.0				0.0
LightSpeed Diesel : 97.18			LDO           : 97.18				300					29154.000000000004			29154.000000000004				0.0